.layout {
  background-color: #fff;
  position: relative;
}

.layout::before {
  content: '';
  position: absolute;
  top: 56;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e2e8f0;
  z-index: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.layout::after {
  content: '';
  position: absolute;
  top: 57;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  z-index: 0;

  @media screen and (min-width: 768px) {
    top: 0;
    left: 400;
  }
  @media screen and (min-width: 1440px) {
    left: 50%;
  }
}

.layout_container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.sidebar {
  z-index: 1;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 206px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 256px;
  }
}

.admin_container {
  background-color: var(--background);
  width: 100%;
  z-index: 1;
  padding: 8px 0;
  @media screen and (min-width: 768px) {
    padding: 16px 0 16px 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 32px 0 32px 32px;
  }
}
